<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
         <!-- TITLE OR MENU HERE -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main content -->
<ion-content [fullscreen]="true">
  
  <!-- Flexbox for all elements -->
  <div class="flex-container">  
    
    <!-- div 1: icon, header, subheader and blue background -->
    <div class="flexbox-top-lightblue">
        <ion-icon name="camera-outline"></ion-icon>
        <p id="headline">Kleinanzeigen</p> 
        <p id="subheadline">Camera Crawler</p>
    </div>

    <!-- div 2: input field for camera search -->
    <div class="flexbox-input">
      <ion-input label="Search Camera" label-placement="floating" fill="outline" placeholder="Enter Camera Name" clearInput="true"></ion-input>
    </div>

    <!-- div 3: range area -->
    <p><b>Your Budget</b></p>
    <div class="flexbox-range">
      
      <ion-range 
        aria-label="custom-label"
        [min]="0" 
        [max]="5000"
        [value]="100"
        [pin]="true"
        [ticks]="true"
        [pinFormatter]="pinFormatter">
        <!-- pinFormatter ensures that current value & € symbol is returned -->

        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <ion-icon slot="end" name="diamond-outline"></ion-icon>
        
      </ion-range>
    </div>

    <!-- div 4 -->
    <div class="flexbox-button">
      <ion-button>Let's crawl!</ion-button>
    </div>

    <!-- div 5 -->
    <div class="flexbox-info">
      This little crawler finds all cameras on <i>Kleinanzeigen.de</i> within your budget and checks the product description for shutter counts, camera condition and extras.
    </div>

    <!-- 
    <div>
      Div 6 - Spinner für später

      <ion-item>
        <ion-spinner name="lines"></ion-spinner>
      </ion-item>
    </div>
    -->

  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-title> Made with Heart by AI </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
