<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Header - Camera Picure 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Toolbar</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Flexbox for all elements -->
  <div class="flex-container">  
    <div class="lightblue">
      Div 1 - Kleinanzeigen Camera Crawler
    </div>

    <div>
      <ion-input label="Search Camera" label-placement="floating" fill="outline" placeholder="Enter Camera Specs"></ion-input>
    </div>

    <div>
      <!-- Container for Range and Labels -->
      <div>
        <!-- Label for "Your Budget" -->
        <span class="left-label">Your Budget</span>
  
          <!-- Der ion-range Schieberegler -->
          <ion-range 
            [min]="0" 
            [max]="5000" 
            [step]="100" 
            [snaps]="true" 
            [(ngModel)]="budgetValue" 
            [pin]="true">
          
            <ion-label slot="start">0€</ion-label>
            <ion-label slot="end">5000€</ion-label>

            <ion-icon slot="pin" name="cash-outline"></ion-icon>
          </ion-range>
  
          <!-- Label für "0 - 5000€" oben rechts -->
          <span class="right-label">0 - 5000€</span>
        </div>
    </div>

    <div>
      <ion-button>Default</ion-button>
    </div>

    <div class="lightblue">
      Div 5 - Infobox
    </div>

    <!-- 
    <div>
      Div 6 - Spinner für später

      <ion-item>
        <ion-spinner name="lines"></ion-spinner>
      </ion-item>
    </div>
    -->

  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-title> Made with Heart by AI </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
