<!-- Main content -->
<ion-content [fullscreen]="true">
  
  <!-- Flexbox for all elements -->
  <div class="flex-container">  
    
    <!-- div 1: icon, header, subheader and blue background -->
    <div class="flexbox-top-lightblue">
        <ion-icon name="camera-outline"></ion-icon>
        <p id="headline">Kleinanzeigen</p> 
        <p id="subheadline">Camera Crawler</p>
    </div>

    <!-- div 2: input field for camera search -->
    <div class="flexbox-input">
      <ion-input label="Search Camera" label-placement="floating" fill="outline" placeholder="Enter Camera Name" clearInput="true"></ion-input>
    </div>

    <!-- div 3: range area -->
    <p id="budget">Your Budget</p>
    <div class="flexbox-range">

      <!-- pinFormatter ensures that current value and € symbol is returned -->
      <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter">
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <ion-icon slot="end" name="diamond-outline"></ion-icon>
      </ion-range>
    </div>

    <!-- div 4: crawl button -->
    <div class="flexbox-button">
      <ion-button>Let's crawl!</ion-button>
    </div>

    <!-- div 5: info-box -->
    <div class="flexbox-info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <p id="infotext">This little crawler finds all cameras on <i>Kleinanzeigen.de</i> within your budget and checks the product description for shutter counts, camera condition and extras.</p>
    </div>

    <!-- div 6: love-box -->
    <div class="love-info">
      Made with &hearts; by AI
    </div>

  </div>
</ion-content>